*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header h1{
    text-align: center;
    font-size: 3rem;
    margin: 3rem;
}

div#app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div.todo-list{
    /* width: 50%; */
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: start;
    justify-content: center;
}

h2{
    margin-bottom: 2rem;
}

ul{
    background-color: azure;
    list-style-type: none;
    font-size: .85rem;
}

ul li{
    margin: 1rem 2rem ;
    padding: 1rem 1rem .25rem 0 ;
    border-bottom: 1px solid grey;
}

ul li:hover{
    background-color: rgb(179, 236, 236);
}

ul.deleted{
    background-color: rgb(255, 204, 246);
    list-style-type: none;
    font-size: .85rem;
}

ul.deleted li{
    margin: 1rem 2rem ;
    padding: 1rem 1rem .25rem 0 ;
    border-bottom: 1px solid rgb(144, 82, 82);
}

ul.deleted li:hover{
    background-color: rgb(255, 133, 204);
}

li p{
    display: flex;
    justify-content: space-between;
}

li p span{
    margin-left: 1rem;
}

ul{
    margin-bottom: 2rem;
}

span.todo-wrapper.done{
    text-decoration: line-through;
}

input,
button{
    padding: .5rem;
    border: 3px solid black;
    margin-right: .5rem;
    font-size: 1.5rem;
}

button{
    background-color: rgb(224, 255, 255);
}
